extends ./../layout.pug

block styles
	link(rel="stylesheet" href="/css/banks.css")
	link(rel="stylesheet" href="/css/reports/reports.css")

block main
	a.back(href="/reports")
		i.bi-arrow-left-short
		span Back to All Reports
	h1 #{reports[0].BankName || `${reports[0].SectionName.split("_").join(" ")} ${reportsType} Reports`}
	p.location 
		i.bi-geo-alt-fill 
		|  #{reports[0].State ? reports[0].City ? `${reports[0].City}, ${reports[0].State}` : `${reports[0].State}, U.S.` : "All U.S. States"}
	section 
		if reportTypes
			aside.reportTypes
				each reportType, index in reportTypes 
					a(data-report-type=reportType.toLowerCase(), class=index===0?"active":"") #{reportType} Reports
		.reports
			if reportTypes 
				each reportType, index in reportTypes
					aside.reportType(class=index===0?"active":"", id=reportType.toLowerCase())
						each report in reports.filter(report => report.Subtype===reportType)
							each sectionName in [ ... new Set(reports.filter(report => report.Subtype===reportType).map(report => report.SectionName)) ]
								.report.show(data-city=report.City, data-state=report.State, data-id=report.IDRSSD, data-name=(report.BankName || report.SectionName.split("_").join(" ")), data-status=report.Status, data-name-initial=(report.BankName ? report.BankName[0] : report.SectionName[0]))
									h3.name #{sectionName}
									hr
									p 
										- let url = `/reports/${report.Type}/${report.State || report.SectionName}/${report.City || report.report.Subtype}${report.IDRSSD?`/${report.IDRSSD}/${report.Subtype}`:""}?type=${report.FileExtension}`;
										- if (report.FileExtension === "html") url += `&page=${report.URL.split("/").slice(-1)[0].split(".")[0]}`;
										a(href=url) View Report
			else 
				each report in reports
					.report.show(data-city=report.City, data-state=report.State, data-id=report.IDRSSD, data-name=(report.BankName || report.SectionName.split("_").join(" ")), data-status=report.Status, data-name-initial=(report.BankName ? report.BankName[0] : report.SectionName[0]))
						h3.name #{report.Type} #{report.Subtype} Report
						hr
						p 
							a(href=`/reports/${report.Type}/${report.State || report.SectionName}/${report.City || report.Subtype}?type=${report.FileExtension}`) View Report
			p.filterMessage 

block scripts 
	//- script(src="/js/reports.js")
	script(src="/js/reports/reports.js") 