extends ./../layout.pug

block styles
	link(rel="stylesheet" href="/css/banks.css")
	link(rel="stylesheet" href="/css/reports/reports.css")

block main
	a.back(href="/reports")
		i.bi-arrow-left-short
		span Back to All Reports
	h1 #{reports[0].BankName || `${reports[0].SectionName.split("_").join(" ")} ${reportsType} Reports`}
	p.location 
		i.bi-geo-alt-fill 
		|  #{reports[0].State ? reports[0].City ? `${reports[0].City}, ${reports[0].State}` : `${reports[0].State}, U.S.` : "All U.S. States"}
	section 
		aside.reportTypes
			each reportType, index in reportTypes 
				a(data-report-type=reportType.toLowerCase(), class=index===0?"active":"") #{reportType} Reports
		.reports
			if reportTypes 
				each reportType, index in reportTypes
					aside.reportType(class=index===0?"active":"", id=reportType.toLowerCase())
						each sectionName in [ ... new Set(reports.filter(report => report.Subtype===reportType).map(report => report.SectionName)) ]
							.report.show(data-name=sectionName.split("_").join(" "))
								h3.name #{sectionName.split("_").join(" ")}
								hr
								p 
									- const reportsOfType = reports.filter(report => (report.Subtype===reportType && report.SectionName===sectionName));
									each reportExtension in [ ... new Set(reportsOfType.map(report => report.FileExtension)) ]
										- console.log(reportExtension);
										- let url = `/reports/${reportsOfType[0].Type}/${reportsOfType[0].State || reportsOfType[0].SectionName}/${reportsOfType[0].City || reportsOfType[0].Subtype}${reportsOfType[0].IDRSSD?`/${reportsOfType[0].IDRSSD}/${reportsOfType[0].Subtype}`:""}`;
										- if (reportExtension === "html") url += `?type=${reportExtension}&page=${reportsOfType.filter(report => report.FileExtension===reportExtension)[0].URL.split("/").slice(-1)[0].split(".")[0]}`;
										- else if (reportExtension === "pdf") url += `?type=${reportExtension}`;
										a(href=url, target="_blank") 
											if reportExtension === "html"
												i.bi-file-earmark-bar-graph-fill
											else if reportExtension === "pdf"
												i.bi-file-earmark-pdf-fill
			p.filterMessage 

block scripts 
	//- script(src="/js/reports.js")
	script(src="/js/reports/reports.js") 