extends ./../layout.pug

block styles
	link(rel="stylesheet" href="/css/reports/error.css")

block main 
	if error
		section#error
			h1 We're sorry! 
			p.error #{error}
			aside.alternatives 
				h2 Check out these alternatives:
				each report in alternativeReports
					.report 
						p.name #{report.BankName || report.SectionName.split("_").join(" ")}
						- const location = report.State ? (report.City ? `${report.City}, ${report.State}` : `${report.State}, U.S.`) : "All U.S. States";
						p.location 
							i.bi-geo-alt-fill
							|  #{location}
						hr
						- const url = `/reports/${report.Type.toLowerCase()}/${report.State || report.SectionName.toLowerCase()}/${report.City ? report.City.toLowerCase() : ""}${report.IDRSSD ? `/${report.IDRSSD}` : ""}`;
						a(href=url) View Reports  
				p Or go back to our 
					a(href="/reports") reports
					|  page     