extends ./../layout.pug

block styles
	link(rel="stylesheet" href="/css/bank.css")

block main 
	if error
		section.center#error
			h1 We're sorry! 
			p.error #{error}
			aside.alternatives 
				h2 Check out these alternatives:
				each report in alternativeReports
					.report 
						p.name #{report.SectionName.split("_").join(" ")}
						- const location = report.State ? (report.City ? `${report.City}, ${report.State}` : `${report.State}, U.S.`) : "All U.S. States";
						p.location #{location}
						- const url = (report.IDRSSD && report.Type==="Bank") ? `bank/${report.State}/${report.City}/${report.IDRSSD}/bank` : (report.Type==="Macro") ? `macro/${report.State || report.SectionName}/${report.Subtype}` : (report.Type==="Performance") ? `performance/${report.State || report.SectionName}` : "";
						a(href=`/reports/${url}`) View this report  
				p Or go back to our 
					a(href="/reports") reports
					|  page     