extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/banks.css")

block main 
    h1 Banks
    p#intro View reports on more than 10,000 banks throughout the United States, with data on loans, leases, income, and much more.
    section#banks 
        input.filter#bankName(type="text", name="bankName", placeholder="Bank Name")
        aside.browse
            a(href="#") #
            a(href="#") A 
            a(href="#") B
            a(href="#") C
            a(href="#") D
            a(href="#") E
            a(href="#") F
            a(href="#") G
            a(href="#") H
            a(href="#") I
            a(href="#") J
            a(href="#") K
            a(href="#") L
            a(href="#") M
            a(href="#") N
            a(href="#") O
            a(href="#") P
            a(href="#") Q
            a(href="#") R
            a(href="#") S
            a(href="#") T
            a(href="#") U
            a(href="#") V
            a(href="#") W
            a(href="#") X
            a(href="#") Y
            a(href="#") Z
        aside.search
            p Filter by:
            if !state
                select.filter#state(name="state")
                    option(value="") State
                    option(value="AL") Alabama
                    option(value="AK") Alaska
                    option(value="AZ") Arizona
                    option(value="AR") Arkansas
                    option(value="CA") California
                    option(value="CO") Colorado
                    option(value="CT") Connecticut
                    option(value="DE") Delaware
                    option(value="FL") Florida
                    option(value="GA") Georgia
                    option(value="HI") Hawaii
                    option(value="ID") Idaho
                    option(value="IL") Illinois
                    option(value="IN") Indiana
                    option(value="IA") Iowa
                    option(value="KS") Kansas
                    option(value="KY") Kentucky
                    option(value="LA") Louisiana
                    option(value="ME") Maine
                    option(value="MD") Maryland
                    option(value="MA") Massachusetts
                    option(value="MI") Michigan
                    option(value="MN") Minnesota
                    option(value="MS") Mississippi
                    option(value="MO") Missouri
                    option(value="MT") Montana
                    option(value="NE") Nebraska
                    option(value="NV") Nevada
                    option(value="NH") New Hampshire
                    option(value="NJ") New Jersey
                    option(value="NM") New Mexico
                    option(value="NY") New York
                    option(value="NC") North Carolina
                    option(value="ND") North Dakota
                    option(value="OH") Ohio
                    option(value="OK") Oklahoma
                    option(value="OR") Oregon
                    option(value="PA") Pennsylvania
                    option(value="RI") Rhode Island
                    option(value="SC") South Carolina
                    option(value="SD") South Dakota
                    option(value="TN") Tennessee
                    option(value="TX") Texas
                    option(value="UT") Utah
                    option(value="VT") Vermont
                    option(value="VA") Virginia
                    option(value="WA") Washington
                    option(value="WV") West Virginia
                    option(value="WI") Wisconsin
                    option(value="WY") Wyoming
            if !city
                select.filter#city(name="city")
                    option(value="") City
                    - const cities = new Set(banks.map(bank => bank.City));
                    each city in Array.from(cities).sort()
                        option(value=city) #{city}
            select.filter#status(name="status") 
                option(value="") Status
                option(value="Active") Active
                option(value="Inactive") Inactive
            br
            button#search Search
            button#clear Clear Filters
        aside.backtrackLinks
            if state 
                a(href="/banks") View All Banks
                if city
                    a(href=`/banks/${state}`) View Banks in #{state.toUpperCase()}
        each bank in banks 
            .bank.show(data-city=bank.City, data-state=bank.State, data-id=bank.IDRSSD, data-name=bank.BankName, data-status=bank.Status, data-name-initial=bank.BankName[0])
                p.name #{bank.BankName}
                p.location #{bank.City}, #{bank.State}
                a(href=`/banks/${bank.State.toLowerCase()}/${bank.City.toLowerCase()}/${bank.IDRSSD}/${loggedIn ? "bank" : "general"}`) Individual Bank Report (HTML)
                br
                a(href=`/banks/${bank.State.toLowerCase()}/${bank.City.toLowerCase()}/${bank.IDRSSD}`) Individual Bank Report (PDF)
                i.status.bi-dot(title=bank.Status)
        p.filterMessage 

block scripts
    script(src="/js/banks.js") 