extends layout.pug

block meta
    meta(name="description", content="Visbanking is a US-based finance company focused on making banking data more accesible to end users.")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/index.css")

block header
    section.container-fluid#intro 
        i.bi-chevron-left(@click="carouselLeft")
        aside.carousel-slide(style=`background: url(${insights[0].Image}) center cover;`, v-if="carousel===1")
            .carousel-text
                h2 #{insights[0].Title}
        aside.carousel-slide(style=`background: url(${insights[1].Image}) center cover;`, v-if="carousel===2")
            .carousel-text
                h2 #{insights[1].Title}
        aside.carousel-slide(style=`background: url(${insights[2].Image}) center cover;`, v-if="carousel===3")
            .carousel-text
                h2 #{insights[2].Title}
        i.bi-chevron-right(@click="carouselRight")

block main 
    section.container-fluid#capabilities 
        h1 Visbanking
        .indicator
            div(@click="show('about')", :class="{ active: tabs[0] }") Who We Are 
            div(@click="show('services')", :class="{ active: tabs[1] }") Our Services 
            div(@click="show('insights')", :class="{ active: tabs[2] }") Insights 
        .tabs 
            aside.tab(v-if="tabs[0]")
                h2 Who We Are
                p We are a team of enthusiastic developers, data scientists, and marketing and operations professionals keen on building the leading banking information service platform.
                a(href="/about") Learn more
            aside.tab(v-if="tabs[1]")
                h2 Our Services
                p We provide all sorts of previously-analyzed relevant data for you, so that you can focus on what matters. Making Decisions
                a(href="/services") Learn more
            aside.tab(v-if="tabs[2]")
                h2 Insights 
                p Some general information about the insights provided by Visbanking
                a(href="/insights") Learn more
        .indicator
            div 
                i.bi-dot(@click="show('about')", :class="{ active: tabs[0] }") 
                i.bi-dot(@click="show('services')", :class="{ active: tabs[1] }")
                i.bi-dot(@click="show('insights')", :class="{ active: tabs[2] }")
    section.container-fluid#reasons 
        aside.reason#banks 
            .text
                p.number 10k
                p.data Banks across the United States
        aside.reason#records 
            .text
                p.number 40m
                p.data Data Records
        aside.reason#time 
            .text 
                p.number 19
                p.data Years of Data by Quarter
        aside.reason#views 
            .text 
                p.number 50
                p.data Customizable Data Views
    section.container-fluid#newsletter 
        aside 
            h2 Join our Newsletter
            p Get the latest information about US banks and the banking industry 
            a(href="/subscribe") Subscribe to our newsletter
                i.bi-chevron-right 

block scripts 
    script(src="/js/index.js") 