extends layout.pug

block meta
	meta(name="description" content="Visbanking is a US-based financial company focused on making banking data more accessible to end users. American banking industry analysis & facts.")
	meta(name="keywords" content="US Banking Data Analysis, US Banking Data Visualization, America bank industr, Competitive Analysis, Market Share, M&A Due Dilligence, Credit Quality Trends, Geographic Coverage, Deposits, Loan Growth, Loan Decline")

block styles 
	link(rel="stylesheet" href="/css/index.css")
	if loadPopUp
		link(rel="stylesheet" href="/css/popup.css")

block main 
	if loadPopUp 
		.bgn-wf-bg.active
		i.bgn-wf-exit.bi-x-lg.active(onclick="closePopUp()")
		.bgn-wf-wrapper.active#BiginWebToEntityFormDiv5070757000001172001(style="max-width:600px;margin:2em auto;padding: 15px;border:1px solid #e1e1e1;background-color:#3E8CF6;color:black;")
			form#BiginWebToContactForm5070757000001172001(name="BiginWebToContactForm5070757000001172001", method="POST", enctype="multipart/form-data", style="margin: 0;")
				input(type="text", name="xnQsjsdp", style="display:none;", value="9ab5bf7332883354fbe855dad6ba60ca4ba7a14cda8269ade2f365633738130f")
				input(type="hidden", name="zc_gad", id="zc_gad", value="")
				input(type="text", name="xmIwtLD", style="display:none;", value="ab505a1b63eaa87bf5ca2370112da1da1037c025d695079affa2717f4a644f9d")
				input(type="text", name="actionType", style="display:none;", value="Q29udGFjdHM")
				input(type="text", name="returnURL", style="display:none;", value="http://localhost:8080?formSubmitted=1")
				div(style="font-size: 30px; font-weight: 700; margin-bottom: 10px;word-break: break-word;padding-left: 15px; color: #ffffff; text-align: center;") Free Report
				#elementDiv5070757000001172001(style="border:0;width: 100%;background-color: #3E8CF6;color:black;font-family:Arial;text-align:left; font-size: 15;")
				.bgn-wf-row 
					.bgn-wf-field 
						input(type="text", name="First Name", maxlength="40", placeholder="First Name *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row 
					.bgn-wf-field 
						input(type="text", name="Last Name", maxlength="80", placeholder="Last Name *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row 
					.bgn-wf-field 
						input(type="email", name="Email", maxlength="100", placeholder="Email *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row 
					.bgn-wf-field 
						input(type="text", name="Phone", maxlength="50", placeholder="Phone", style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row 
					.bgn-wf-field
						input(type="text", name="Account Name", maxlength="120", placeholder="Company Name", style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row(style="margin-top: 5px;")
					.bgn-wf-field 
						input#formsubmit5070757000001172001(type="submit", value="Submit", style='margin-right: 10px; opacity:; font-size:16px;color: #fff;border-radius: 10px;vertical-align: middle;background-color: #1980d8;border-color: #1980d8;padding: 8px 15px;display: inline-block;width: auto; font-family: sans-serif;')
						input(type="reset", value="Reset", onclick='disableSubmitwhileReset5070757000001172001()', style='font-size:16px;border-radius: 10px;vertical-align: middle;background-color: #fff;border-color: #222;padding: 8px 15px;color: #3c3c3c;border: solid 1px #d4d3d2;display: inline-block;width: auto; font-family: sans-serif;')
	h1 We are banks visualized
	h2 Visualize banking data like never before
	aside#latest
		each post in latest
			article.post 
				div
					img(src=post.Image, alt=post.Title)
				p.title #{post.Title}
				a(href=`/insights/insight/${post.ID}`) Learn More
	hr
	h2 Ways That Visbanking Will Change Your Perspective
	//- h2 Banking Intelligence And Visualizations That Will Change Your Perspective
	//- aside#intro
	//-     p As the banking and finance industries become increasingly competitive, there has never been a greater need for timely, accurate, and easy access to critical banking information. At Visbanking, we understand our customers' need for this vital data, and the important role it plays in their business decision-making. We also recognize the importance of delivering that data in a way that is easy-to-understand, in visualized formats that facilitate quick and useful analysis.
	//-     img.dashboard(src="/images/dashboard1.png" alt="Individual Bank Reports" loading="lazy")
	//-     p With customized reporting and advanced visualizations, our services can provide your business with the edge it needs to stay ahead of your competition. And unlike other banking intelligence providers, our platform eliminates the need for complex and time-consuming do-it-yourself (DIY) reports, instead providing a do-it-for-me (DIFM) approach to report creation that simplified data compilation and visualization. To learn more about how Visbanking can change your perspective on banking intelligence, contact us today!
	//- h3 The tools financial services professionals need to keep pace with an ever-evolving banking landscape
	//- aside#tools
	//-     p Today's bank stakeholders, banking vendors, equity analysts, and distressed debt fund professionals are required to make vital decisions every day as they develop strategies and adjust plans and projects. To do that effectively and make the most informed decisions, they need to analyze volumes of information that is often delivered in raw data form. Unfortunately, accessing that data can be time-consuming, confusing, and exceedingly costly.
	//-     p To succeed, your business needs easily accessible, cost-effective, and reliable banking intelligence and industry insights. The question is, though, which of the many options out there can you trust to deliver the solutions you need? Where can you find the timely, accurate, and easy-to-understand data visualizations to empower your analysis and decision-making? 
	//-     img.dashboard(src="/images/dashboard2.png" alt="National Bank Rankings" loading="lazy")
	h3 Services 
	//- that meet your data needs
	aside#reasons 
		.reason 
			p.title Competitive analysis
			p Our service allows you to quickly and easily view any group of competitor banks to assess and compare their performance. That intelligence can help you perform complex analysis easier than ever before, enabling better decision-making that will improve your company's bottom line. Quickly access details like balance sheets, financial statements, current activities, and insights in the news. With a few clicks, those and other key data points can be quickly compiled to inform your analysis.
		.reason 
			p.title Market Share
			p When you need to make critical decisions that impact your company's market share, it is vital to understand everything that you can about your competitors. With Visbanking's services, you can quickly define market parameters and get the intelligence you need to measure the market share of all banks in that target market and adapt your strategies to improve your bank's performance.
		//- p Visbanking's banking data services provide all the updated, accurate intelligence you need to:
		//- ul 
		//-     li Conduct competitive analysis of banking institutions across the United States
		//-     li Perform due diligence for mergers and acquisitions
		//-     li Get early insight about the latest key economic indicators
		//-     li Analyze bank balance sheets, credit quality information, and income statements
		//-     li View and analyze bank market share
		//-     li Understand trends in credit quality
		//-     li Compare and evaluate bank geographic coverage
		//-     li And much, much more!
		.reason 
			p.title M&amp;A due dilligence
			p Before any successful merger or acquisition, it is essential to perform due diligence on important criteria like credit quality metrics. If you have a merger looming on the horizon, our tools can help you gain the insight you need to know before moving to combine portfolios. This data can help ensure that your merger or acquisition can be completed without unforeseen complications.
		.reason 
			p.title Credit Quality Trends
			p It can be time-consuming to assess credit quality trends in the banking industry, including key information about things like non-performing loans viewed by asset class. Visbanking's services enable you to view any custom group of competitor banks in a way that simplifies your analysis of their comparative credit quality performance. In addition, we simplify the process of comparing past due loan trends and relevant reserves, enabling you to easily compare trends in 20 and 90-day past due loans alongside the allowance for loan and lease loss trends, to quickly identify anomalies.
		//- p Just as important, you obtain this data with clear, transparent visualizations, with more than four dozen preloaded customizable report formats. Never again settle for overpriced, non-transparent, and complex do-it-yourself access to banking intelligence. With Visbanking, you can experience a better way to visualize banking information, reduce the time and effort it takes to compile the data you need, and focus your attention on the analysis and decision-making needed to take your business to new heights of success.
		.reason 
			p.title Geographic Coverage
			p One of the biggest challenges to new market entry is learning about existing competition in that area. If you are considering a move into a new market, Visbanking can provide the information you need to accurately assess your banking competitors in that geographical area, including key details about those banks' deposit sources and lending participation.
		.reason 
			p.title Insight into Deposit and Loan Growth or Decline
			p Does your business need to learn more about deposit or loan growth or decline throughout the U.S.? Is a comprehensive understanding of macro trends a vital part of your decision-making process? If so, our services can provide you with the ability to quickly access information about the entire U.S. banking landscape, including deposit and loan growth over time, net interest margins, and the cost of funds, deposits, and non-interest income.
		//- p.cta 
		//-     a(href="/contact") Contact us
		//-     |  today to learn more about our innovative, data-driven banking intelligence services.
		//- aside#pricing 
		//-     i.bi-list-stars
		//-     h3 Choose only the features you need
		//-     p Our subscription-based services are designed to provide you with multiple options to ensure that you get the right level of access to meet your needs. Depending on your needs and choice of subscription options, you can receive access to everything from simple bank lists and reports to financial statements, bank comparisons, regulatory enforcement information, stock prices, and more.
		//-     p.cta Check out our subscription options on the 
		//-         a(href="/pricing") pricing page
		//-         |  for more details about what each plan includes or 
		//-         a(href="/contact") contact us
		//-         |  directly to discuss your needs.
		//- h3 Visbanking is the solution you have been looking for
		//- aside#solution 
		//-     img.dashboard(src="/images/dashboard3.png" alt="Banks with Demographic Data" loading="lazy")
		//-     p At Visbanking, we strive every day to understand our customers' needs and the best way to deliver products and services that can help them succeed. Because our focus is on empowering you with the most accurate and accessible banking industry intelligence and insights available today, we can be the partner you need to enhance your decision-making and open the door to new and exciting business opportunities.
		//-     p We understand your need for timely and reliable banking data, presented in visualized formats that can be easily analyzed and digested. Our experience in the banking industry has given us unique insight into the challenges our customers experience using other banking intelligence service providers. As a result, we recognize the true costs involved in those other services: not just in terms of money, but also the time involved in those DIY reporting systems.
		//-     p Visbanking knows that there is a better way. A simpler way. A more accessible way to reach the data you need without cumbersome do-it-yourself report generation. That's why our services include dozens of customized and customizable reports that you can use to ensure that the information you see is presented in a way that is easy to understand and analyze. Our team is ready to assist in on-boarding and customization of your data solution.
		hr
		h2 Check out the dashboards and visualizations
		aside#dashboards
			img(src="/images/dashboard1.png" alt="Individual Bank Reports" loading="lazy")
			img(src="/images/dashboard2.png" alt="National Bank Rankings" loading="lazy")
			img(src="/images/dashboard3.png" alt="Banks with Demographic Data" loading="lazy")
			a(href="/services") Our Services
		hr
		h2 About Visbanking
		aside#about
			p At Visbanking, our mission is to bring transparency and understanding to the banking industry. We aim to allow easier access to all the important, required information regarding all areas of the 
				a(href="/service") banking industry
				|  in a simple, more comprehensible manner.
			<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="0 0 100 100">
				<defs>
					<style>.cls-1{fill:#2569a9;}</style>
				</defs>
				<title>Logo-Visbanking</title>
				<path class="cls-1" d="M59.05,42.34c-5-4.11-12-3.86-15.86-1.19a6.53,6.53,0,0,1,1.73,8.17c-1.67,3-4.87,4.08-8.68,2.79A12.48,12.48,0,0,0,37.5,58.9L48,50.3l4.59,4,1.69-1.4L57.8,50l-1.7-1.94,6.45-.66-2,6-1.27-1.77-4.16,3.64-2.71,2.59-4.52-3.92L39,61.31A14,14,0,0,0,62.5,59.38,13.76,13.76,0,0,0,59.05,42.34Z"/>
				<path class="cls-1" d="M97.34,48.22a8.85,8.85,0,0,0-1-1.74,69.34,69.34,0,0,0-4.68-7.12C79.36,24.75,67.85,21.63,65.73,21a57.65,57.65,0,0,0-35.92,1.63,51.77,51.77,0,0,0-11,6.26,46.68,46.68,0,0,0-9.78,9.51C6.73,41.5,4.76,44.9,2.69,48.21a1.62,1.62,0,0,0-.06,1.39c1.26,2.2,2.55,4.38,4,6.49a56.37,56.37,0,0,0,9.47,10.29,5.93,5.93,0,0,0,1,.52,2.65,2.65,0,0,0-.19-.72A22.79,22.79,0,0,1,14,59.27a35.8,35.8,0,0,1-1.45-11.59,3.74,3.74,0,0,1,.5-1.74,34.56,34.56,0,0,1,2.41-3.25,39.55,39.55,0,0,1,8.34-7.85,30,30,0,0,0-6.1,18.34C17.79,70.29,32.18,84.05,50,84c18,0,32.27-13.87,32.25-31.25a29.63,29.63,0,0,0-7-19,54.64,54.64,0,0,1,5.36,4.69,55.59,55.59,0,0,1,6.24,7.29C91,54,85.23,61.3,84.32,64a19.59,19.59,0,0,1-1.26,2.56l.21.22,1.94-1.68A52.9,52.9,0,0,0,97.38,49.63,1.92,1.92,0,0,0,97.34,48.22ZM49.76,76.64C36.37,76.6,25.41,66,25.43,53s11-23.56,24.65-23.54S74.57,40.13,74.55,53.1,63.44,76.68,49.76,76.64Z"/>
			</svg>
		hr
		h2 Featured News
		aside#featured 
			#news
				each post in featured 
					article.post 
						img(src=post.Image, alt=post.Title)
						p.title #{post.Title}
						a(href=`/insights/insight/${post.ID}`) Read more &gt;
		//- hr
		//- h2 Your trusted partner for banking intelligence
		//- aside#partner 
		//-     p If you have been looking for a better way to gain access to the banking intelligence your company relies on for success, look no further. Visbanking is the one banking data firm founded with the goal of delivering the timeliest and most accurate multi-dimensional banking data and insights with transparency, integration, and affordability for every client. 
		//-     p.cta 
		//-         a(href="/contact") Contact us
		//-         |  today to learn more about how our services can help you achieve your banking intelligence needs.

block scripts 
	script(src="/js/index.js") 
	if loadPopUp 
		script(src="/js/popup.js") 
		script#wf_script(src="https://bigin.zoho.com/crm/WebformScriptServlet?rid=ab505a1b63eaa87bf5ca2370112da1da1037c025d695079affa2717f4a644f9dgid9ab5bf7332883354fbe855dad6ba60ca4ba7a14cda8269ade2f365633738130f") 