extends layout.pug

block meta
	meta(name="description" content="Visbanking is a US-based financial company focused on making banking data more accessible to end users. American banking industry analysis & facts.")
	meta(name="keywords" content="US Banking Data Analysis, US Banking Data Visualization, America bank industr, Competitive Analysis, Market Share, M&A Due Dilligence, Credit Quality Trends, Geographic Coverage, Deposits, Loan Growth, Loan Decline")

block styles
	link(rel="stylesheet" href="/css/index.css")
	if loadPopUp
		link(rel="stylesheet" href="/css/popup.css")

block main
	if loadPopUp
		.bgn-wf-bg.active
		.bgn-wf-wrapper.active#BiginWebToEntityFormDiv5070757000001172001(style="max-width:600px;margin:2em auto;padding: 15px;border:1px solid #e1e1e1;background-color:#3E8CF6;color:black;")
			form#BiginWebToContactForm5070757000001172001(name="BiginWebToContactForm5070757000001172001", method="POST", enctype="multipart/form-data", style="margin: 0;")
				i.bgn-wf-exit.bi-x-lg.active(onclick="closePopUp()")
				input(type="text", name="xnQsjsdp", style="display:none;", value="9ab5bf7332883354fbe855dad6ba60ca4ba7a14cda8269ade2f365633738130f")
				input(type="hidden", name="zc_gad", id="zc_gad", value="")
				input(type="text", name="xmIwtLD", style="display:none;", value="ab505a1b63eaa87bf5ca2370112da1da1037c025d695079affa2717f4a644f9d")
				input(type="text", name="actionType", style="display:none;", value="Q29udGFjdHM=")
				input(type="text", name="returnURL", style="display:none;", value="http://visbanking.com?formSubmitted=1")
				div(style="font-size: 30px; font-weight: 700; margin-bottom: 10px;word-break: break-word;padding-left: 15px; color: #ffffff; text-align: center;") Free Report
				#elementDiv5070757000001172001(style="border:0;width: 100%;background-color: #3E8CF6;color:black;font-family:Arial;text-align:left; font-size: 15;")
				.bgn-wf-row
					.bgn-wf-field
						input(type="text", name="First Name", maxlength="40", placeholder="First Name *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row
					.bgn-wf-field
						input(type="text", name="Last Name", maxlength="80", placeholder="Last Name *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row
					.bgn-wf-field
						input(type="email", name="Email", maxlength="100", placeholder="Email *", required, style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row
					.bgn-wf-field
						input(type="text", name="Phone", maxlength="50", placeholder="Phone", style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row
					.bgn-wf-field
						input(type="text", name="Account Name", maxlength="120", placeholder="Company Name", style="border: 1px solid #e2e0df;padding: 10px 15px;max-width: 480px;border-radius:10px;width: 60%;")
				.bgn-wf-row(style="margin-top: 5px;")
					.bgn-wf-field
						input#formsubmit5070757000001172001(type="submit", value="Submit", style='margin-right: 10px; opacity:; font-size:16px;color: #fff;border-radius: 10px;vertical-align: middle;background-color: #1980d8;border-color: #1980d8;padding: 8px 15px;display: inline-block;width: auto; font-family: sans-serif;')
						input(type="reset", value="Reset", onclick='disableSubmitwhileReset5070757000001172001()', style='font-size:16px;border-radius: 10px;vertical-align: middle;background-color: #fff;border-color: #222;padding: 8px 15px;color: #3c3c3c;border: solid 1px #d4d3d2;display: inline-block;width: auto; font-family: sans-serif;')
	section#intro
		aside
			h1 Trust in your next decisions. Get the banking data you'll need to make it.
			p Maximizes your return on information by solutions, data, news, and insight. Get the banking data you need to make confident business decisions.
			button(data-href="https://calendly.com/visbanking/visbanking-demo-meeting", target="_blank") Request a Demo
		aside
			img.active(src="/images/index/introDashboard.png", alt="Visbanking Platform", title="Our Platform")
	section#numbers
		h2 Enhance your decision making with Visbanking solutions!
		aside
			p Reports for each of the 5000 banks in the United States
		aside
			p Banking and Financial Intelligence for each of the 50 states
		aside
			p Updated information in real time
	section#offer
		aside
			h2 What do we offer you?
			p Our software-as-a-service offerings include the vital multi-dimensional banking intelligence, valuations, pricing, data analysis, and visualization tools today's bank stakeholders, vendors, equity analysts, and distressed debt funds need to gather and analyze complex data, develop key strategies, and make informed decisions.
			p In addition, we provide consulting services to select clients with bespoke needs for specialized data visualization, strategic planning, application development, and systems design and maintenance.
			button(data-href="https://calendly.com/visbanking/visbanking-demo-meeting", target="_blank") Get Started
		aside.video
			video(src="/videos/index/platform.mp4", poster="/images/index/platform.png", controls, controlsList="nodownload") 
	section#reports
		h2 View Macro, Performance, and Single Bank Reports on more than 10,000 banks throughout the United States
		aside#report
			div
				h3 Asset Quality Report
				p Track the non-performing loans for your bank and all competitors
				button(data-href="/reports") Learn More
			div
				img(src="/images/index/assetQuality.png" alt="Banks with Demographic Data")
		aside#report
			div
				h3 Deposit Report
				p Clear view of deposit composition and utilization for all peer banks with trend analysis
				button(data-href="/reports") Learn More
			div
				img(src="/images/index/deposits.png" alt="Banks with Demographic Data")
		aside#report
			div
				h3 Bank Benchmarking Report
				p Stack rankings for all banks across dozens of metrics.  See how your institution stacks up
				button(data-href="/reports") Learn More
			div
				img(src="/images/index/bankingBench.png" alt="Banks with Demographic Data")
	section#insights 
		h2 Latest News &amp; Insights
		each insight in insights 
			a.insight(href=`/insights/${insight.ID}`)  
				img(src=`https://visbanking.com${insight.Image}`, alt=insight.Title)
				p.info 
					span #{insight.Topic}
					span #{new Date(insight.Date).toLocaleDateString()}
				p.title #{insight.Title}
				button Read More


block scripts
	script(src="/js/index.js")
	if loadPopUp
		script(src="/js/popup.js")
		script#wf_script(src="https://bigin.zoho.com/crm/WebformScriptServlet?rid=ab505a1b63eaa87bf5ca2370112da1da1037c025d695079affa2717f4a644f9dgid9ab5bf7332883354fbe855dad6ba60ca4ba7a14cda8269ade2f365633738130f")