extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/insights.css")

block main
    h1 Insights
    each post in posts
        a(href=`/insights/insight/${post.ID}`)
            article.post(id=post.ID)
                div 
                    img(src=post.Image, alt=post.Title)
                p.topics #{post.Topics.split(",")[0][0].toUpperCase()+post.Topics.split(",")[0].slice(1)}
                h3 #{post.Title}
                p.date #{post.Date.toDateString()}
    h2 

block scripts 
    script(src="/js/insights.js") 