extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/insights.css")

block main
    h1 Insights
    each post in posts
        article.post(id=post.ID)
            img(src=post.Image, alt=post.Title)
            h2 #{post.Title}
            p.intro #{post.Body.slice(0, 150)}...
            a(href=`/insights/insight/${post.ID}`) Read more

block scripts 
    script(src="/js/insights.js") 