extends layout.pug

block meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block styles 
	link(rel="stylesheet" href="/css/insights.css")

block main
	h1 Insights
	- const topInsights = insights.sort((a, b) => a.Views - b.Views);
	article#latest
		- const latest = insights[0];
		img(src="https://visbanking.com"+latest.Image, alt=latest.Title)
		div
			p.title #{latest.Title}
			p.intro #{latest.Body}
			p.date #{new Date(latest.Date).toLocaleDateString()}
			a(href=`/insights/${latest.ID}`) Read more &gt;&gt;
	section#featured
		h2 Featured news
		each post in topInsights.slice(1, 4)
			article.post 
				img(src="https://visbanking.com"+post.Image, alt=post.Title)
				a(href=`/insights/${post.ID}`) 
					p.title #{post.Title}
	section#last
		h2 Latest news
		each post in insights.slice(1, 5)
			article.post
				img(src="https://visbanking.com"+post.Image, alt=post.Title)
				a(href=`/insights/${post.ID}`) 
					p.title #{post.Title}
	section#business
		h2 Business
		each post in topInsights.filter(insight => insight.Topic==="Business").slice(0, 2)
			article.post
				img(src="https://visbanking.com"+post.Image, alt=post.Title)
				a(href=`/insights/${post.ID}`) 
					p.title #{post.Title}
	section#banks
		h2 Banks
		each post in topInsights.filter(insight => insight.Topic==="Banks").slice(0, 2)
			article.post
				img(src="https://visbanking.com"+post.Image, alt=post.Title)
				a(href=`/insights/${post.ID}`) 
					p.title #{post.Title}
	section#categories
		h2
			button(:class="{ active:(activeSection==='general') }", @click="showSection('general')") All
			button(:class="{ active:(activeSection==='business') }", @click="showSection('business')") Business
			button(:class="{ active:(activeSection==='banks') }", @click="showSection('banks')") Banks
			button(:class="{ active:(activeSection==='financial') }", @click="showSection('financial')") Financial
			button(:class="{ active:(activeSection==='market') }", @click="showSection('market')") Market
		p.pagination
			a(@click="loadPreviousPage", :class="{ visible:page > 1 }") 
				i.bi-arrow-left-short 
				| Previous Page
			a.visible.page {{ page }}
			a(@click="loadNextPage", :class="{ visible:showNext }") Next Page
				i.bi-arrow-right-short
		aside.articles
		p.pagination
			a(@click="loadPreviousPage", :class="{ visible:page > 1 }") 
				i.bi-arrow-left-short 
				| Previous Page
			a.visible.page {{ page }}
			a(@click="loadNextPage", :class="{ visible:showNext }") Next Page
				i.bi-arrow-right-short

block scripts 
	script(src="/js/insights.js") 
