extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/insights.css")

block main
    h1 Insights
    each post in posts
        a(href=`/insights/insight/${post.ID}`)
            article.post(id=post.ID)
                img(src=post.Image, alt=post.Title)
                h2 #{post.Title}
                p.date #{post.Date.toDateString()}

block scripts 
    script(src="/js/insights.js") 