extends layout.pug

block styles 
    link(rel="stylesheet", href="/css/login.css")

block header 
    aside.center#login
        h1 #{action}
        form(method="POST")
            if action==="Sign Up"
                label.form-label(for="fname") First Name: 
                input#fname(type="text", name="fname", required)
                label.form-label(for="lname") Last Name: 
                input#lname(type="text", name="lname", required)
            label.form-label(for="email") Email: 
            input#username(type="email", name="email", aria-describedBy="emailMessage", required, value=emailAfterRedirect||username)
            p.form-text#emailMessage #{emailError?"The email you entered doesn't exist":action==="Sign Up"?"We'll never share your email":""}
            label.form-label(for="password") Password: 
            input#password(type="password", name="pass", minlength="8", maxlength="30", required, aria-describedBy="error")
            if action==="Sign Up"
                input#tier(type="hidden", name="tier", value=`${tier}`)
            if incorrectPassword    
                p.form-text#error The email or password entered were invalid
            input(type="submit", value=action)
        if action==="Log In"
            p.signup Don't have an account? 
                a(href="/signup") Sign Up 
        else if action==="Sign Up"
            p.signup Already have an account? 
                a(href="/login") Log In

block scripts 
    script(src="/js/login.js") 