extends layout.pug

block meta
    meta(name="description" content="")
    meta(name="keywords" content="")

block styles 
    link(rel="stylesheet" href="/css/pricing.css")

block main
    h1 Banks. Visualized.
    h2 Subscription plans to meet your needs
    p Our plans
    section#pricing
        aside.plan#free
            h3 Free
            p
                span.price $#{tiers.free.price}
            ul.features
                each feature in tiers.free.features
                    li 
                        p
                            i.bi-check2-square 
                            | #{feature}
            a.button(href="/buy?tier=free", target="_blank") Subscribe 
        aside.plan#professional
            div Most Popular
            h3 Professional
            p
                span.price $#{tiers.professional.price}
                | /month
            ul.features
                each feature in tiers.professional.features
                    li 
                        p
                            i.bi-check2-square 
                            | #{feature}
            a.button(href="/buy?tier=professional", target="_blank") Subscribe 
        aside.plan#premium 
            h3 Premium
            p
                span.price $#{tiers.premium.price}
                | /month
            ul.features
                each feature in tiers.premium.features
                    li 
                        p
                            i.bi-check2-square 
                            | #{feature}
            a.button(href="/buy?tier=premium", target="_blank") Subscribe 
        aside.plan#enterprise 
            h3 Enterprise
            p.price Contact sales
            ul.features
                each feature in tiers.enterprise.features
                    li 
                        p
                            i.bi-check2-square 
                            | #{feature}
            a.button(href="mailto:sales@visbanking.com") Contact Sales 

block scripts 
    script(src="/js/pricing.js") 