extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/user.css")

block main 
    section(id=userInfo.username)
        form(method="POST", enctype="multipart/form-data")
            if userInfo.Image
                img#profile(src=userInfo.Image, alt=`${userInfo.FirstName} ${userInfo.LastName}`, title="Update Profile Picture")
            else 
                i.bi-person-fill#profile(title="Update Profile Picture")
            if access
                input(type="file", name="image", accept="image/jpeg, image/png")
            h1(data) #{userInfo.FirstName} #{userInfo.LastName}
                if access
                    i.bi-pencil-square#name(title="Update Name")
                    input(type="text", name="name", placeholder="Name Surname")
            p#email(title="Your Email") (#{userInfo.Email}) 
            if access
                a#pass Change Password
            input(type="submit", value="Save")
        if access
            button#logout Log Out
    if access
        section#account 
            h2 Your Account
            if userInfo.Tier === 'Free'
                .card 
                    .card-header 
                        h3 Free
                        p 
                            span.price $0
                            | /Always
        section#upgrade
            h2 Upgrade
            if userInfo.Tier !== 'Free'
                .card 
                    .card-header 
                        h3 Free 
                        p
                            span.price $0
                            | /Always 
                    .card-body 
                        p Downgrade to Free to access: 
                        ul.list-group.list-group-flush
                            li.list-group-item Feature #1
                            li.list-group-item Feature #2
                            li.list-group-item Feature #3
                    //- .card-footer
                    //-     button
                    //-         a(href="/buy?tier=professional") Get Professional Access
            if userInfo.Tier !== 'Profesional'
                .card 
                    .card-header 
                        h3 Professional 
                        p
                            span.price $49.99
                            | /month 
                    .card-body 
                        p #{userInfo.Tier === 'Free' ? 'Upgrade' : 'Downgrade'} to Professional to get access to: 
                        ul.list-group.list-group-flush
                            li.list-group-item Feature #1
                            li.list-group-item Feature #2
                            li.list-group-item Feature #3
                    .card-footer
                        button
                            a(href="/buy?tier=professional") Get Professional Access
            if userInfo.Tier !== 'Premium'
                .card 
                    .card-header
                        h3 Premium 
                        p 
                            span.price $499.99
                            | /month
                    .card-body 
                        p Upgrade to Premium to get access to: 
                        ul.list-group.list-group-flush
                            li.list-group-item Feature #1
                            li.list-group-item Feature #2
                            li.list-group-item Feature #3
                    .card-footer 
                        button
                            a(href="/buy?tier=premium") Get Premium Access

block scripts 
    script(src="/js/user.js") 