extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/user.css")

block main 
    section(id=userInfo.username)
        if user===userInfo.Email
            button#logout Log Out
        form(method="POST")
            if userInfo.Image
                img(src=`data:image/png;base64,${userInfo.Image}`, alt=`${userInfo.FirstName} ${userInfo.LastName}`)
            else 
                i.bi-person-fill
            h1(data) #{userInfo.FirstName} #{userInfo.LastName}
                if user===userInfo.Email
                    i.bi-pencil-square#name(title="Update Name")
                    input#name(type="text", name="name", placeholder="Name Surname")
            p#email(title="Your Email") (#{userInfo.Email}) 
            if user===userInfo.Email 
                a#pass Change Password
            input(type="submit", value="Save")
    section#account 
        h2 Your Account
        if userInfo.Tier === 'Free'
            .card 
                .card-header 
                    h3 Free
                    p $0. Always
                .card-body
        if userInfo.Tier !== 'Free'
            p Free 
        if userInfo.Tier !== 'Profesional'
            p Professional 
        if userInfo.Tier !== 'Enterprise'
            p Enterprise


block scripts 
    script(src="/js/user.js") 