extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/user.css")

block main 
    section(id=userInfo.username)
        if user===userInfo.Email
            button#logout Log Out
        form(method="POST")
            if userInfo.Image
                img(src=userInfo.Image, alt=`${userInfo.FirstName} ${userInfo.LastName}`)
            else 
                i.bi-person-fill
            h1(data) #{userInfo.FirstName} #{userInfo.LastName}
                if user===userInfo.Email
                    i.bi-pencil-square#name(title="Update Name")
                    input#name(type="text", name="name", placeholder="Name Surname")
            p#email(title="Your Email") (#{userInfo.Email}) 
            if user===userInfo.Email 
                a#pass Change Password
            input(type="submit", value="Save")
    if user===userInfo.Email
        section#account 
            h2 Your Account
            if userInfo.Tier === 'Free'
                .card 
                    .card-header 
                        h3 Free
                        p 
                            span.price $0
                            | /Always
        section#upgrade
            h2 Upgrade
            if userInfo.Tier !== 'Free'
                p Free 
            if userInfo.Tier !== 'Profesional'
                .card 
                    .card-header 
                        h3 Professional 
                        p
                            span.price $49.99
                            | /month 
                    .card-body 
                        p Upgrade to Professional to get access to: 
                        ul.list-group.list-group-flush
                            li.list-group-item Feature #1
                            li.list-group-item Feature #2
                            li.list-group-item Feature #3
                    .card-footer
                        button
                            a(href="/buy?tier=professional") Get Professional Access
            if userInfo.Tier !== 'Premium'
                .card 
                    .card-header
                        h3 Premium 
                        p 
                            span.price $499.99
                            | /month
                    .card-body 
                        p Upgrade to Premium to get access to: 
                        ul.list-group.list-group-flush
                            li.list-group-item Feature #1
                            li.list-group-item Feature #2
                            li.list-group-item Feature #3
                    .card-footer 
                        button
                            a(href="/buy?tier=premium") Get Premium Access

block scripts 
    script(src="/js/user.js") 