img(src="https://visbanking.com/images/logo-visbanking.png", alt="Visbanking", style="max-width: 25%;")
h1 We have received your information
p Hello #{fName} #{lName},
p At 
	a(href="https:/visbanking.com") Visbanking
	|  we appreciate your interest in us.
p We will now review your data and get back to you as soon as possible.
p For transparency and consistency purposes, below you'll find the data you just submitted to us. Feel free to contact us at 
	a(href="mailto:info@visbanking.com") info@visbanking.com
	|  if there is any change in this information.
ul 
	li First Name: #{fName}
	li Last Name: #{lName}
	li Email: #{email}
	li Topic: #{topic}
	li Phone: #{phone || "N/A"}
	li Message: #{message}