img(src="https://visbanking.com/images/logo-visbanking.png", alt="Visbanking", style="max-width: 25%;")
h1(style="font-family: sans-serif;") New Contact Added
p(style="sont-family: sans-serif;") New contact was created with the following information:
ul(style="font-family: sans-serif;")
	li Name: #{name}
	li Email: #{email}
	li Topic: #{topic}
	li Message: #{message}
p(style="font-family: sans-serif;") Optional Information entered:
ul(style="font-family: sans-serif;")
	li Phone: #{phone || "N/A"}