extends ../layout.pug

block meta
	meta(name="keywords" content="Competitive Analysis, Market Share, M&A Due Dilligence, Credit Quality Trends, Geographic Coverage, Deposits, Loadn Growth, Loan Decline, Merger and Acquisition, Visbanking, ")
	meta(name="description" content="Know asset credit quality trends in US banking sector. Also, know Bank Market Share, US Bank Competitors & Loan Growth with Visbanking services.")

block styles 
	link(rel="stylesheet" href="/css/services/service.css")

block main 
	h1 #{service.Name}
	section#intro 
		aside.text 
			h2 LET VISBANKING CHANGE YOUR PERSPECTIVE ON BANKING DATA
			p Gone are the days when financial professionals were forced to comb through Excel sheets of flat data to compare different banks' performance. With Visbanking, the future of banking data analysis is now. We provide the banking intelligence and do-it-for-me (DIFM) reports you need to visualize the latest data on every bank in the United States. 
			p 
				strong #{service.Description}
			p Our commitment to completeness of vision extends to every area of our services. That commitment is why we deliver the wide range of data you need to make the most effective decisions about your business, including vital information on performance, financials, market share, geography, personnel, and regulatory actions.
		aside.video
			video(src="/videos/services.mp4", controls, poster="/images/servicesVideoPoster.jpg" controlsList="nodownload") 
	hr
	section#platform 
		h2 Our Platform
		p Visbanking's services do more than just provide access to raw data, charts, and graphs. Our platform delivers an interactive experience that allows you to see key data in an easily understood and visual way. Our DIFM approach saves you time and helps to ensure that your data visualizations are showing you exactly what you want to see, when you want to see it.
		p When you rely on Visbanking, you get the security and peace of mind that comes from knowing that all your key decisions are being made based on timely, accurate data - and not just opinion or conjecture. To learn more about how our banking intelligence services can benefit you, contact us today.
		img(src="/images/dashboard1.png" alt="Individual Bank Reports")
		img(src="/images/dashboard2.png" alt="National Bank Rankings")
		img(src="/images/dashboard3.png" alt="Banks with Demographic Data")
	hr
	section#services 
		h2 Check out our other services
		each service in services 
			a(href=`/services/${service.ID}`, target=service.Name) #{service.Name} 